.subhead {
padding-top: 10px;
margin-bottom: 20px;
background-color: #252525;
color: white;
-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
box-shadow: 7 1px 10px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: DoulosSILW;
  src: url(DoulosSIL-R.woff);
}

.optional {
    display: inline-block;
    position: relative;
    top: -10px;
    font-size: .8em;
    color: #999;
}

.example {
    font-family: DoulosSILW;
}
.text-to-transcribe {
    font-family: DoulosSILW;
    font-size: 2em;
}
input[type="text"] {
    font-family: DoulosSILW;
	max-width: 400px;
}
.ipa-buttons {
    border: 1px solid;
    padding: 5px;
    text-align: center;
    background: none repeat scroll 0 0 #F3F3F3;
    border-color: #CCCCCC;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}
.ipa-buttons .group {
    display: inline-block;
    padding: 5px 5px;
}
.ipa-buttons button {
    font-family: DoulosSILW;
    font-size: 20px;
    width: 1.5em;
    height: 1.5em;
    margin: 1px;
    line-height: 1em;
    padding: 0px;
}

.phon_transcr {
    font-family: DoulosSILW; 
    font-size: 2em;
}

#form {
	margin: 0;
}