<form id="form">
	<div class="row">
		<div class="col-md-12">
			<h4>Phonemic transcription (<u>without</u> slanted brackets):</h4>
				<input type="text" class="form-control insertHere" placeholder="Paste text here…" id="checkThis">
				<button id="target" type="submit" class="btn btn-default">Submit</button>
			<p>... or type it using the buttons below:</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="ipa-buttons">
				<span class="group">
					<button type="button" class="btn btn-default">ɪ</button>
					<button type="button" class="btn btn-default">e</button>
					<button type="button" class="btn btn-default">æ</button>
					<button type="button" class="btn btn-default">ʌ</button>
					<button type="button" class="btn bre-trait">ɒ</button>
					<button type="button" class="btn btn-default">ʊ</button>
					<button type="button" class="btn btn-default">ə</button>
					<button type="button" class="btn ame-trait">ɚ</button>
					<button type="button" class="btn btn-default">i</button>
					<button type="button" class="btn btn-default">u</button>
					<button type="button" class="btn btn-default">ɔ</button>
					<button type="button" class="btn bre-trait">ɜ</button>
					<button type="button" class="btn ame-trait">ɜ˞</button>
					<button type="button" class="btn btn-default">ɑ</button>
					<button type="button" class="btn ame-trait">o</button>
					<button type="button" class="btn btn-default">a</button>
					<button type="button" class="btn btn-default">ː</button>
				</span>
				<span class="group">
					<button type="button" class="btn btn-default">p</button>
					<button type="button" class="btn btn-default">b</button>
					<button type="button" class="btn btn-default">t</button>
					<button type="button" class="btn btn-default">d</button>
					<button type="button" class="btn btn-default">k</button>
					<button type="button" class="btn btn-default">ɡ</button>
				</span>
				<span class="group">
					<button type="button" class="btn btn-default">f</button>
					<button type="button" class="btn btn-default">v</button>
					<button type="button" class="btn btn-default">θ</button>
					<button type="button" class="btn btn-default">ð</button>
					<button type="button" class="btn btn-default">s</button>
					<button type="button" class="btn btn-default">z</button>
					<button type="button" class="btn btn-default">ʃ</button>
					<button type="button" class="btn btn-default">ʒ</button>
					<button type="button" class="btn btn-default">h</button>
				</span>
				<span class="group">
					<button type="button" class="btn btn-default">m</button>
					<button type="button" class="btn btn-default">n</button>
					<button type="button" class="btn btn-default">ŋ</button>
				</span>
				<span class="group">
					<button type="button" class="btn btn-default">r</button>
					<button type="button" class="btn btn-default">l</button>
					<button type="button" class="btn btn-default">j</button>
					<button type="button" class="btn btn-default">w</button>
				</span>
				<span class="group">
					<button type="button" class="btn btn-default">ᵊ</button>
					<button type="button" class="btn btn-default">ˈ</button>
					<button type="button" class="btn btn-default">ˌ</button>
				</span>
			</div>
		</div>
	</div>
</form>