<div>
	<h4>Show allophonic processes for:</h4>
	<div class="row">
		<div class="col-md-6">
			<div class="radio"><label><input type="radio" name="accent" value="bre" checked="checked"/>British English</label></div>
			<div class="radio"><label><input type="radio" name="accent" value="ame"/>American English</label></div>
		</div>
	</div>
	<h4>Show the following allophonic processes:</h4>
	<div class="row">
		<div class="col-md-6">
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="labialisation"> Labialisation</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="palatalisation"> Palatalisation</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="devoicing"> Devoicing</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="unreleased"> No audible plosion</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="aspiration"> Aspiration</label></div>
			<div class="checkbox ame-trait"><label><input type="checkbox" id="tapping" class="ame-trait"> Tapping</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="glottaling"> Glottal reinforcement</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="dentalisation"> Dentalisation</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="velarisation"> Velarisation</label></div>
		</div>
		<div class="col-md-6">
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="nasalPlosion"> Nasal plosion</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="lateralPlosion"> Lateral plosion</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="advancing"> Advancing</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="retraction"> Retraction</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="centralisation"> Vowel centralisation</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="labiodentalNasal"> Labiodental nasals</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="prefortisClipping"> Pre-fortis clipping</label></div>
			<div class="checkbox"><label><input type="checkbox" checked="checked" id="nasalisation"> Nasalisation</label></div>
		</div>
	</div>
</div>